/*公共样式*/
*{
	margin: 0;
	padding: 0;
}
.page{
	width: 640px;
}
/*抽奖*/
.lottery{
	position: relative;
	height: 1040px;
	background: url('../img/lottery/bg.png') no-repeat;
	background-size: 100%;
}
.lottery-unit-0{
	position: absolute;
	left: 220px;
	top: 396px;
}
.lottery-unit-1{
	position: absolute;
	left: 360px;
	top: 494px;
}
.lottery-unit-2{
	position: absolute;
	left: 220px;
	top: 636px;
}
.lottery-unit-3{
	position: absolute;
	left: 88px;
	top: 504px;
}
.lottery-unit img{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.lottery-unit .mask{
	display: none;
	z-index: 9;
}
.lottery-unit-0 .mask{
	left: -72px;
	top: -50px;
}
.lottery-unit-1 .mask{
	left: -64px;
	top: -78px;
}
.lottery-unit-2 .mask{
	left: -72px;
	top: -76px;
}
.lottery-unit-3 .mask{
	left: -6px;
	top: -94px;
}
.lottery-center{
	position: absolute;
	z-index: 99999;
	left: 250px;
	top: 520px;
}
.lottery-btn{
	position: absolute;
	z-index: 99999;
	left: 0;
	right: 0;
	bottom: 72px;
	margin: auto;
}
.lottery .active .mask{
	display: block;
}
